# =========================
# Unity
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Unity IDE / collaboration
unity-client/.vs/
unity-client/.collabignore
unity-client/.vsconfig

# =========================
# Node
# =========================

node_modules/
server/node_modules/

# =========================
# System
# =========================

.DS_Store