[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

.DS_Store

# Unity
unity-client/Library/
unity-client/Temp/
unity-client/obj/
unity-client/.vs/

# System
.DS_Store

# Node
node_modules/

# Node
server/node_modules/

# Unity
unity-client/Library/
unity-client/Temp/
unity-client/obj/
unity-client/.vs/

# IDE
unity-client/.collabignore
unity-client/.vsconfig

# Mac
.DS_Store